## Data Extraction TB. Sinar Jaya

In [5]:
import pandas as pd
import numpy as np

import os 
import io

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime as dt

##from pandas_profiling import ProfileReport
sinarjaya = pd.read_csv('TB. Sinar Jaya 2017-2020.xlsx - Master.csv')
print("Shape of dataframe is: {}".format(sinarjaya.shape))
sinarjaya.head(5)

Shape of dataframe is: (5024, 13)

,Datetime,msisdn,flag_taker,los,Month,Year,Order_Qty,COS,Sales,Profit,Product_Name,Brand_Name,Product_Category
0,12/31/2020 1:00,6.280000e+11,0,965.0,3,2019,9,958552.41,2714720.0,1756167.59,Semen Tiga Roda,Tiga Roda,Builder Hardware
1,12/31/2020 2:00,6.280000e+11,0,NaN,2,2018,4,18624.69,50141.4,31516.71,Nippon Paint,Nippon Paint Holdings,Paint & Sundries
2,12/31/2020 3:00,6.280000e+11,0,859.0,1,2018,9,205101.46,1395112.8,1190011.34,Quadra,Quadra Surface,Flooring
3,12/31/2020 4:00,6.280000e+11,0,NaN,1,2019,9,4807.08,2614400.0,2609592.92,Pasir Beton,Tiga Roda,Builder Hardware
4,12/31/2020 5:00,6.280000e+11,0,1259.0,4,2020,24,203316.11,7056400.0,6853083.89,Toto closet,Toto,Sanitary

In [6]:
pd.options.display.float_format = '{:,}'.format

In [7]:
sinarjaya.columns

Index(['Datetime', 'msisdn', 'flag_taker', 'los', 'Month', 'Year', 'Order_Qty',
       'COS', 'Sales', 'Profit', 'Product_Name', 'Brand_Name',
       'Product_Category'],
      dtype='object')

In [8]:
sinarjaya['PPU']=sinarjaya['Sales']/(sinarjaya['Order_Qty'])

In [9]:
sinarjaya['Profit_Margin']=sinarjaya['Profit']/(sinarjaya['Sales'])

In [10]:
sinarjaya.round(2)

,Datetime,msisdn,flag_taker,los,Month,Year,Order_Qty,COS,Sales,Profit,Product_Name,Brand_Name,Product_Category,PPU,Profit_Margin
0,12/31/2020 1:00,"628,000,000,000.0",0,965.0,3,2019,9,"958,552.41","2,714,720.0","1,756,167.59",Semen Tiga Roda,Tiga Roda,Builder Hardware,"301,635.56",0.65
1,12/31/2020 2:00,"628,000,000,000.0",0,NaN,2,2018,4,"18,624.69","50,141.4","31,516.71",Nippon Paint,Nippon Paint Holdings,Paint & Sundries,"12,535.35",0.63
2,12/31/2020 3:00,"628,000,000,000.0",0,859.0,1,2018,9,"205,101.46","1,395,112.8","1,190,011.34",Quadra,Quadra Surface,Flooring,"155,012.53",0.85
3,12/31/2020 4:00,"628,000,000,000.0",0,NaN,1,2019,9,"4,807.08","2,614,400.0","2,609,592.92",Pasir Beton,Tiga Roda,Builder Hardware,"290,488.89",1.0
4,12/31/2020 5:00,"628,000,000,000.0",0,"1,259.0",4,2020,24,"203,316.11","7,056,400.0","6,853,083.89",Toto closet,Toto,Sanitary,"294,016.67",0.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5019,6/5/2020 5:00,"6,280,000,000,000.0",0,NaN,9,2018,5,"18,289.57","64,950.0","46,660.43",Quadra,Quadra Surface,Flooring,"12,990.0",0.72
5020,6/5/2020 6:00,"6,280,000,000,000.0",0,"1,600.0",5,2018,10,69.37,"138,900.0","138,830.63",Quadra,Quadra Surface,Flooring,"13,890.0",1.0
5021,6/5/2020 7:00,"6,280,000,000,000.0",0,529.0,4,2018,12,"391,891.36","300,000.0","-91,891.36",Paint Dulux,Dulux,Builder Hardware,"25,000.0",-0.31
5022,6/5/2020 8:00,"6,280,000,000,000.0",1,"1,182.0",4,2018,10,"337,481.81","9,990,000.0","9,652,518.19",Semen Tiga Roda,Tiga Roda,Fastener,"999,000.0",0.97
5023,6/5/2020 9:00,"6,280,000,000,000.0",0,NaN,5,2019,12,"229,656.11","3,348,000.0","3,118,343.89",Semen Tiga Roda,Tiga Roda,Fastener,"279,000.0",0.93

In [11]:
sinarjaya.isnull().sum()

Datetime              0
msisdn                0
flag_taker            0
los                 889
Month                 0
Year                  0
Order_Qty             0
COS                   0
Sales                 0
Profit                0
Product_Name          1
Brand_Name            0
Product_Category      0
PPU                   0
Profit_Margin         0
dtype: int64

In [12]:
sinarjaya['Product_Name'].unique()

array(['Semen Tiga Roda ', 'Nippon Paint', 'Quadra', 'Pasir Beton',
       'Toto closet', 'Fischer', 'BOSCH DIY STARTER BOX SET/73PCS',
       'Roman', 'KIA', 'MR Safety Screw', 'Pasir Pasang',
       'BURNERS TOOLS RD-260 Kawat Las Besi Baja 2MM',
       'American Standard Smart Washer Seat and Cover – SCV092410',
       'Paint Dulux',
       'CUTTING TOOLS HIT-1200N With Bag 120CM POTONG KERAMIK MANUAL',
       'CCUTTING TOOLS HIT-1200N With Bag 120CM POTONG KERAMIK MANUAL',
       'MM Bolt Hexagon', 'Pasir Elod', 'Halmar Water Tank',
       'Paint No Drop', 'BOSCH GLL 5-50X LINE LASER KIT15M',
       'Semen Holcim', 'Penguin Tangki Air', 'Pasir Merah', 'Aquaproof',
       'Asia Tile', 'Semen Gresik', 'Semen Garuda', nan,
       'Onduline Sekrup', 'Semen Tiga Roda',
       'BOSCH GLM 7000 MEASURING LASER0.05-70M'], dtype=object)

----------------------

## Data Cleansing

In [13]:
var_num = ['los', 'Month', 'Year', 'Order_Qty', 'PPU',
       'COS', 'Sales', 'Profit', 'Profit_Margin']
sinarjaya[var_num] = sinarjaya[var_num].replace(" ", 0).astype('float32')

In [14]:
sinarjaya.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5024 entries, 0 to 5023
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Datetime          5024 non-null   object
 1   msisdn            5024 non-null   float64
 2   flag_taker        5024 non-null   int64
 3   los               4135 non-null   float32
 4   Month             5024 non-null   float32
 5   Year              5024 non-null   float32
 6   Order_Qty         5024 non-null   float32
 7   COS               5024 non-null   float32
 8   Sales             5024 non-null   float32
 9   Profit            5024 non-null   float32
 10  Product_Name      5023 non-null   object
 11  Brand_Name        5024 non-null   object
 12  Product_Category  5024 non-null   object
 13  PPU               5024 non-null   float32
 14  Profit_Margin     5024 non-null   float32
dtypes: float32(9), float64(1), int64(1), object(4)
memory usage: 412.2+ KB

In [15]:
sinarjaya = sinarjaya.drop('Datetime', axis=1)

In [16]:
##sebelum encode
##pd.get_dummy(df)
pd.get_dummies(sinarjaya['Product_Name'])

pd.get_dummies(sinarjaya['Brand_Name'])

##drop msisdn

##df.dropna(axis=0,thresh=20)

,American Standard,Aquaproof,Asia Tile,BOSCH,Dulux,Fischer Internasional,Garuda,Gresik,Halmar Sanitary,Holcim,...,No Drop,Onduline,Pasir Elod,Pasir Merah,Pasir Pasang,Penguin,Quadra Surface,Roman,Tiga Roda,Toto
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5019,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5021,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [17]:
sinarjaya.Product_Name.unique()

array(['Semen Tiga Roda ', 'Nippon Paint', 'Quadra', 'Pasir Beton',
       'Toto closet', 'Fischer', 'BOSCH DIY STARTER BOX SET/73PCS',
       'Roman', 'KIA', 'MR Safety Screw', 'Pasir Pasang',
       'BURNERS TOOLS RD-260 Kawat Las Besi Baja 2MM',
       'American Standard Smart Washer Seat and Cover – SCV092410',
       'Paint Dulux',
       'CUTTING TOOLS HIT-1200N With Bag 120CM POTONG KERAMIK MANUAL',
       'CCUTTING TOOLS HIT-1200N With Bag 120CM POTONG KERAMIK MANUAL',
       'MM Bolt Hexagon', 'Pasir Elod', 'Halmar Water Tank',
       'Paint No Drop', 'BOSCH GLL 5-50X LINE LASER KIT15M',
       'Semen Holcim', 'Penguin Tangki Air', 'Pasir Merah', 'Aquaproof',
       'Asia Tile', 'Semen Gresik', 'Semen Garuda', nan,
       'Onduline Sekrup', 'Semen Tiga Roda',
       'BOSCH GLM 7000 MEASURING LASER0.05-70M'], dtype=object)

In [18]:
def encode_Product_Name(x):
    if x=='Semen Tiga Roda ':
        return 1
    elif x=='Nippon Paint':
        return 2
    elif x=='Quadra':
        return 3
    elif x=='Pasir Beton':
        return 4
    elif x=='Toto closet':
        return 5
    elif x=='Fischer':
        return 6
    elif x=='BOSCH DIY STARTER BOX SET/73PCS':
        return 7   
    elif x=='Roman':
        return 8   
    elif x=='KIA':
        return 9  
    elif x=='MR Safety Screw':
        return 10
    elif x=='Pasir Pasang':
        return 11
    elif x=='BURNERS TOOLS RD-260 Kawat Las Besi Baja 2MM':
        return 12
    elif x=='American Standard Smart Washer Seat and Cover – SCV092410':
        return 13
    elif x=='Paint Dulux':
        return 14
    elif x=='CUTTING TOOLS HIT-1200N With Bag 120CM POTONG KERAMIK MANUAL':
        return 15
    elif x=='CCUTTING TOOLS HIT-1200N With Bag 120CM POTONG KERAMIK MANUAL':
        return 16
    elif x=='MM Bolt Hexagon':
        return 17
    elif x=='Pasir Elod':
        return 18
    elif x=='Paint No Drop':
        return 19
    elif x=='BOSCH GLL 5-50X LINE LASER KIT15M':
        return 20
    elif x=='Semen Holcim':
        return 21
    elif x=='Penguin Tangki Air':
        return 22
    elif x=='Pasir Merah':
        return 23
    elif x=='Aquaproof':
        return 24
    elif x=='Asia Tile':
        return 25
    elif x=='Semen Gresik':
        return 26
    elif x=='Semen Garuda':
        return 27
    elif x=='Onduline Sekrup':
        return 28
    elif x=='Semen Tiga Roda':
        return 29
    elif x=='BOSCH GLM 7000 MEASURING LASER0.05-70M':
        return 30
    else:
        return 0

In [19]:
sinarjaya['Product_Name'] = sinarjaya['Product_Name'].apply(encode_Product_Name)
sinarjaya['Product_Name'].value_counts()

29    436
10    414
6     381
15    331
24    319
27    307
7     280
14    251
4     226
22    213
23    204
12    191
0     153
17    137
11    128
13    120
5     118
21    110
9      94
18     91
26     89
30     81
8      79
25     64
2      62
3      58
19     50
28     34
1       1
20      1
16      1
Name: Product_Name, dtype: int64

In [20]:
## change unknown to central jabo

sinarjaya['Product_Name'] = sinarjaya['Product_Name'].replace([0],[5])
sinarjaya['Product_Name'].value_counts()

29    436
10    414
6     381
15    331
24    319
27    307
7     280
5     271
14    251
4     226
22    213
23    204
12    191
17    137
11    128
13    120
21    110
9      94
18     91
26     89
30     81
8      79
25     64
2      62
3      58
19     50
28     34
1       1
20      1
16      1
Name: Product_Name, dtype: int64

In [21]:
sinarjaya.Brand_Name.unique()

array(['Tiga Roda', 'Nippon Paint Holdings', 'Quadra Surface', 'Toto',
       'Fischer Internasional', 'BOSCH', 'Roman', 'KIA Ceramics',
       'Mr. Safety Group', 'Pasir Pasang', 'NIKKO', 'American Standard',
       'Dulux', 'Metric Bolt', 'Pasir Elod', 'Halmar Sanitary', 'No Drop',
       'Holcim', 'Penguin', 'Pasir Merah', 'Aquaproof', 'Asia Tile',
       'Gresik', 'Garuda', 'Onduline'], dtype=object)

In [22]:
def encode_Brand_Name(x):
    if x=='Tiga Roda':
        return 1
    elif x=='Nippon Paint Holdings':
        return 2
    elif x=='Quadra Surface':
        return 3
    elif x=='Toto':
        return 4
    elif x=='Fischer Internasional':
        return 5
    elif x=='BOSCH':
        return 6
    elif x=='Roman':
        return 7
    elif x=='KIA Ceramics':
        return 8   
    elif x=='Mr. Safety Group':
        return 9   
    elif x=='Pasir Pasang':
        return 10  
    elif x=='NIKKO':
        return 11
    elif x=='American Standard':
        return 12
    elif x=='FoodDrinks':
        return 13
    elif x=='Dulux':
        return 14
    elif x=='Metric Bolt':
        return 15
    elif x=='Pasir Elod':
        return 16
    elif x=='Halmar Sanitary':
        return 17
    elif x=='No Drop':
        return 18
    elif x=='Holcim':
        return 19
    elif x=='Penguin':
        return 20   
    elif x=='Pasir Merah':
        return 21   
    elif x=='Aquaproof':
        return 22  
    elif x=='Asia Tile':
        return 23
    elif x=='Gresik':
        return 24
    elif x=='Garuda':
        return 25
    elif x=='Onduline':
        return 26
    else:
        return 0

In [23]:
sinarjaya['Brand_Name'] = sinarjaya['Brand_Name'].apply(encode_Brand_Name)
sinarjaya['Brand_Name'].value_counts()

6     694
1     663
9     414
5     381
22    319
25    307
14    251
20    213
21    205
11    191
17    152
15    137
10    128
12    120
4     118
19    110
8      94
16     91
24     89
7      79
23     64
2      62
3      58
18     50
26     34
Name: Brand_Name, dtype: int64

In [24]:
sinarjaya.Product_Category.unique()

array(['Builder Hardware ', 'Paint & Sundries', 'Flooring', 'Sanitary',
       'Fastener', 'Hand Tools', 'Hardware1'], dtype=object)

In [25]:
def encode_Product_Category(x):
    if x=='Builder Hardware':
        return 1
    elif x=='Paint & Sundries':
        return 2
    elif x=='Flooring':
        return 3
    elif x=='Sanitary':
        return 4
    elif x=='Fastener':
        return 5
    elif x=='Hand Tools':
        return 6
    elif x=='Hardware1':
        return 7
    else:
        return 0

In [26]:
sinarjaya['Product_Category'] = sinarjaya['Product_Category'].apply(encode_Product_Category)
sinarjaya['Product_Category'].value_counts()

5    1808
0    1185
6     885
4     603
3     295
2     247
7       1
Name: Product_Category, dtype: int64

In [27]:
sinarjaya

,msisdn,flag_taker,los,Month,Year,Order_Qty,COS,Sales,Profit,Product_Name,Brand_Name,Product_Category,PPU,Profit_Margin
0,"628,000,000,000.0",0,965.0,3.0,"2,019.0",9.0,"958,552.4375","2,714,720.0","1,756,167.625",1,1,0,"301,635.5625",0.6469056010246277
1,"628,000,000,000.0",0,NaN,2.0,"2,018.0",4.0,"18,624.689453125","50,141.3984375","31,516.7109375",2,2,2,"12,535.349609375",0.6285566687583923
2,"628,000,000,000.0",0,859.0,1.0,"2,018.0",9.0,"205,101.453125","1,395,112.75","1,190,011.375",3,3,3,"155,012.53125",0.8529857397079468
3,"628,000,000,000.0",0,NaN,1.0,"2,019.0",9.0,"4,807.080078125","2,614,400.0","2,609,593.0",4,1,0,"290,488.875",0.9981613159179688
4,"628,000,000,000.0",0,"1,259.0",4.0,"2,020.0",24.0,"203,316.109375","7,056,400.0","6,853,084.0",5,4,4,"294,016.65625",0.9711869955062866
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5019,"6,280,000,000,000.0",0,NaN,9.0,"2,018.0",5.0,"18,289.5703125","64,950.0","46,660.4296875",3,3,3,"12,990.0",0.7184053659439087
5020,"6,280,000,000,000.0",0,"1,600.0",5.0,"2,018.0",10.0,69.37000274658203,"138,900.0","138,830.625",3,3,3,"13,890.0",0.999500572681427
5021,"6,280,000,000,000.0",0,529.0,4.0,"2,018.0",12.0,"391,891.375","300,000.0","-91,891.359375",14,14,0,"25,000.0",-0.30630454421043396
5022,"6,280,000,000,000.0",1,"1,182.0",4.0,"2,018.0",10.0,"337,481.8125","9,990,000.0","9,652,518.0",29,1,5,"999,000.0",0.9662180542945862
5023,"6,280,000,000,000.0",0,NaN,5.0,"2,019.0",12.0,"229,656.109375","3,348,000.0","3,118,344.0",29,1,5,"279,000.0",0.9314050078392029

## Handling Missing Data

In [28]:
sinarjaya.isnull().sum()

msisdn                0
flag_taker            0
los                 889
Month                 0
Year                  0
Order_Qty             0
COS                   0
Sales                 0
Profit                0
Product_Name          0
Brand_Name            0
Product_Category      0
PPU                   0
Profit_Margin         0
dtype: int64

In [29]:
Q1 = sinarjaya.los.quantile(0.25)
Q3 = sinarjaya.los.quantile(0.75)
Q1, Q3

(414.0, 1642.0)

In [30]:
IQR = Q3 - Q1
IQR

1228.0

In [31]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-1428.0, 3484.0)

In [32]:
sinarjaya[(sinarjaya.los<lower_limit)|(sinarjaya.los>upper_limit)]

,msisdn,flag_taker,los,Month,Year,Order_Qty,COS,Sales,Profit,Product_Name,Brand_Name,Product_Category,PPU,Profit_Margin
7,"628,000,000,000.0",0,"4,415.0",12.0,"2,018.0",13.0,"3,525,557.25","3,890,500.0","364,942.875",7,6,6,"299,269.21875",0.09380358457565308
20,"628,000,000,000.0",0,"4,336.0",1.0,"2,020.0",9.0,"2,927,194.0","3,321,000.0","393,805.90625",5,4,4,"369,000.0",0.11858052015304565
30,"62,800,000,000.0",0,"7,030.0",2.0,"2,018.0",4.0,"1,946.6099853515625","215,680.0","213,733.390625",2,2,2,"53,920.0",0.9909745454788208
31,"628,000,000,000.0",0,"3,983.0",1.0,"2,019.0",12.0,"947,693.875","3,562,880.0","2,615,186.0",4,1,0,"296,906.65625",0.7340090274810791
40,"628,000,000,000.0",0,"4,502.0",11.0,"2,020.0",16.0,"758,517.4375","3,433,600.0","2,675,082.5",2,2,2,"214,600.0",0.7790897488594055
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,"6,280,000,000,000.0",0,"8,985.0",6.0,"2,020.0",20.0,"419,550.34375","4,399,000.0","3,979,449.75",29,1,5,"219,950.0",0.9046259522438049
4934,"6,280,000,000,000.0",1,"8,985.0",9.0,"2,020.0",40.0,"388,961.59375","2,399,600.0","2,010,638.375",14,14,0,"59,990.0",0.8379056453704834
4951,"6,280,000,000,000.0",0,"8,985.0",8.0,"2,018.0",9.0,"212,912.8125","3,925,800.0","3,712,887.25",14,14,0,"436,200.0",0.9457657337188721
4957,"6,280,000,000,000.0",0,"8,985.0",5.0,"2,019.0",10.0,"92,709.296875","1,290,000.0","1,197,290.75",14,14,0,"129,000.0",0.9281323552131653
4994,"6,280,000,000,000.0",1,"8,985.0",1.0,"2,020.0",18.0,"39,046.98828125","17,165,600.0","17,126,554.0",14,14,0,"953,644.4375",0.997725248336792

In [33]:
sinarjaya = sinarjaya[(sinarjaya.los>lower_limit)&(sinarjaya.los<upper_limit)]
sinarjaya

,msisdn,flag_taker,los,Month,Year,Order_Qty,COS,Sales,Profit,Product_Name,Brand_Name,Product_Category,PPU,Profit_Margin
0,"628,000,000,000.0",0,965.0,3.0,"2,019.0",9.0,"958,552.4375","2,714,720.0","1,756,167.625",1,1,0,"301,635.5625",0.6469056010246277
2,"628,000,000,000.0",0,859.0,1.0,"2,018.0",9.0,"205,101.453125","1,395,112.75","1,190,011.375",3,3,3,"155,012.53125",0.8529857397079468
4,"628,000,000,000.0",0,"1,259.0",4.0,"2,020.0",24.0,"203,316.109375","7,056,400.0","6,853,084.0",5,4,4,"294,016.65625",0.9711869955062866
6,"628,000,000,000.0",0,"1,637.0",9.0,"2,018.0",5.0,"629,088.25","890,000.0","260,911.75",4,1,0,"178,000.0",0.29315927624702454
8,"628,000,000,000.0",0,"2,421.0",7.0,"2,019.0",30.0,"2,717,738.75","8,970,000.0","6,252,261.0",7,6,6,"299,000.0",0.697019100189209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5017,"6,280,000,000,000.0",0,493.0,1.0,"2,018.0",12.0,"2,234,928.75","2,923,920.0","688,991.1875",29,1,5,"243,660.0",0.2356395572423935
5018,"6,280,000,000,000.0",0,565.0,3.0,"2,020.0",18.0,"1,593,446.5","5,724,600.0","4,131,153.5",5,17,4,"318,033.34375",0.7216492891311646
5020,"6,280,000,000,000.0",0,"1,600.0",5.0,"2,018.0",10.0,69.37000274658203,"138,900.0","138,830.625",3,3,3,"13,890.0",0.999500572681427
5021,"6,280,000,000,000.0",0,529.0,4.0,"2,018.0",12.0,"391,891.375","300,000.0","-91,891.359375",14,14,0,"25,000.0",-0.30630454421043396
5022,"6,280,000,000,000.0",1,"1,182.0",4.0,"2,018.0",10.0,"337,481.8125","9,990,000.0","9,652,518.0",29,1,5,"999,000.0",0.9662180542945862

In [34]:
sinarjaya.describe()

,msisdn,flag_taker,los,Month,Year,Order_Qty,COS,Sales,Profit,Product_Name,Brand_Name,Product_Category,PPU,Profit_Margin
count,"3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0","3,847.0"
mean,"6,126,468,936,833.896",0.3608006238627502,"1,038.9698486328125",6.577073097229004,"2,018.828125",17.92747688293457,"1,418,103.125","3,803,794.0","2,385,690.5",15.574473615804523,11.357161424486613,3.6571354302053547,"291,900.53125",0.597886860370636
std,"921,397,640,189.2515",0.48029521983915135,773.4808959960938,3.4566214084625244,0.8586269021034241,45.57744216918945,"3,422,335.5","5,131,215.5","4,542,019.5",8.537129656018426,7.735843934825196,2.2097948665359666,"342,632.0625",0.5152363777160645
min,"62,800,000,000.0",0.0,0.0,1.0,"2,017.0",4.0,4.869999885559082,"8,265.0","-51,633,408.0",1.0,1.0,0.0,906.1538696289062,-3.400435209274292
25%,"6,280,000,000,000.0",0.0,397.0,4.0,"2,018.0",9.0,"66,577.9609375","646,361.0","204,323.7578125",7.0,5.0,2.0,"53,560.763671875",0.45568133890628815
50%,"6,280,000,000,000.0",0.0,822.0,7.0,"2,019.0",10.0,"356,166.375","2,322,000.0","1,245,601.5",14.0,9.0,5.0,"200,000.0",0.7867285013198853
75%,"6,280,000,000,000.0",1.0,"1,588.0",10.0,"2,020.0",13.0,"1,413,321.6875","4,862,632.5","3,316,946.0",24.0,19.0,5.0,"356,850.0",0.9403533041477203
max,"6,280,000,000,000.0",1.0,"3,482.0",12.0,"2,020.0","1,040.0","80,260,640.0","58,976,400.0","47,026,000.0",30.0,26.0,7.0,"2,899,990.0",0.9999954700469971

---------------------------

## Feature Engineering

## Freature Selection

# Recursive Feature Elimination

In [35]:
sinarjaya.head()

,msisdn,flag_taker,los,Month,Year,Order_Qty,COS,Sales,Profit,Product_Name,Brand_Name,Product_Category,PPU,Profit_Margin
0,"628,000,000,000.0",0,965.0,3.0,"2,019.0",9.0,"958,552.4375","2,714,720.0","1,756,167.625",1,1,0,"301,635.5625",0.6469056010246277
2,"628,000,000,000.0",0,859.0,1.0,"2,018.0",9.0,"205,101.453125","1,395,112.75","1,190,011.375",3,3,3,"155,012.53125",0.8529857397079468
4,"628,000,000,000.0",0,"1,259.0",4.0,"2,020.0",24.0,"203,316.109375","7,056,400.0","6,853,084.0",5,4,4,"294,016.65625",0.9711869955062866
6,"628,000,000,000.0",0,"1,637.0",9.0,"2,018.0",5.0,"629,088.25","890,000.0","260,911.75",4,1,0,"178,000.0",0.29315927624702454
8,"628,000,000,000.0",0,"2,421.0",7.0,"2,019.0",30.0,"2,717,738.75","8,970,000.0","6,252,261.0",7,6,6,"299,000.0",0.697019100189209

In [36]:
sinarjaya = sinarjaya.astype('int')

In [37]:
# Feature Extraction with RFE
from pandas import read_csv
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
# load data
dataframe = sinarjaya
array = dataframe.values
X = array[:,0:14]
Y = array[:,8]
# feature extraction
rfe = RFE(estimator=LogisticRegression(solver='lbfgs'), n_features_to_select=8)
fit = rfe.fit(X, Y)
print("Num Features: %d" % fit.n_features_)
print("Selected Features: %s" % fit.support_)
print("Feature Ranking: %s" % fit.ranking_)

Num Features: 8
Selected Features: [ True False  True False False  True  True  True  True  True False False
  True False]
Feature Ranking: [1 6 1 3 5 1 1 1 1 1 2 4 1 7]

In [38]:
df_selected_features = sinarjaya.iloc[:,fit.support_]
df_selected_features

,msisdn,los,Order_Qty,COS,Sales,Profit,Product_Name,PPU
0,-2147483648,965,9,958552,2714720,1756167,1,301635
2,-2147483648,859,9,205101,1395112,1190011,3,155012
4,-2147483648,1259,24,203316,7056400,6853084,5,294016
6,-2147483648,1637,5,629088,890000,260911,4,178000
8,-2147483648,2421,30,2717738,8970000,6252261,7,299000
...,...,...,...,...,...,...,...,...
5017,-2147483648,493,12,2234928,2923920,688991,29,243660
5018,-2147483648,565,18,1593446,5724600,4131153,5,318033
5020,-2147483648,1600,10,69,138900,138830,3,13890
5021,-2147483648,529,12,391891,300000,-91891,14,25000
5022,-2147483648,1182,10,337481,9990000,9652518,29,999000

In [39]:
df_selected_features.nlargest(n=5, columns=['Profit'])

,msisdn,los,Order_Qty,COS,Sales,Profit,Product_Name,PPU
1929,-2147483648,3453,26,10578500,57604500,47026000,21,2215557
3038,-2147483648,158,20,204207,45900000,45695792,10,2295000
663,-2147483648,2953,48,2842565,47252700,44410136,11,984431
1694,-2147483648,617,20,1577192,45900000,44322808,17,2295000
924,-2147483648,1362,24,10564504,54276752,43712244,10,2261531

In [40]:
df_selected_features.max()

msisdn         -2147483648
los                   3482
Order_Qty             1040
COS               80260640
Sales             58976400
Profit            47026000
Product_Name            30
PPU                2899990
dtype: int32

In [41]:
df_selected_features.min()

msisdn         -2147483648
los                      0
Order_Qty                4
COS                      4
Sales                 8265
Profit           -51633408
Product_Name             1
PPU                    906
dtype: int32

In [42]:
from numpy import mean
from numpy import std
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.feature_selection import RFECV
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
# define dataset
X, y = make_classification(n_samples=1000, n_features=14, n_informative=5, n_redundant=5, random_state=5)
# create pipeline
rfe = RFECV(estimator=DecisionTreeClassifier())
model = DecisionTreeClassifier()
pipeline = Pipeline(steps=[('s',rfe),('m',model)])
# evaluate model
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(pipeline, X, y, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')
# report performance
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.922 (0.029)

In [43]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

model.fit(X_train, y_train)

y_pred = model.predict(X_test)

#Summary of the predictions made by the classifier
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))
#Accuracy score
from sklearn.metrics import accuracy_score
print("ACC: ",accuracy_score(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.86      0.87      0.87        95
           1       0.88      0.88      0.88       105

    accuracy                           0.88       200
   macro avg       0.87      0.87      0.87       200
weighted avg       0.88      0.88      0.88       200

[[83 12]
 [13 92]]
ACC:  0.875

## ClASSIFICATION

In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Train/Test Split from Test Data

In [45]:
SemenTigaRoda = df_selected_features[df_selected_features.Product_Name == "29"]
MRSafetyScrew = df_selected_features[df_selected_features.Product_Name == "10"]
Fischer = df_selected_features[df_selected_features.Product_Name == "6"]
CUTTINGTOOLSHIT= df_selected_features[df_selected_features.Product_Name == "15"]
Aquaproof = df_selected_features[df_selected_features.Product_Name == "24"]
SemenGaruda = df_selected_features[df_selected_features.Product_Name == "27"]

In [46]:
x = df_selected_features.drop(["Product_Name"], axis = 1)
y = df_selected_features.Product_Name.values

In [47]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 5)

In [48]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train, y_train)

GaussianNB()

In [49]:
print("Gaussian Naive Bayes score: ",nb.score(x_test, y_test))

Gaussian Naive Bayes score:  0.06860706860706861

# Forecasting

### Import Library

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import xgboost as xgb
from sklearn.metrics import mean_squared_error
color_pal = sns.color_palette()
plt.style.use('fivethirtyeight')

### Import data

In [51]:
df = pd.read_csv('Sinarjaya_forecast.csv', delimiter=',')
df.head(5)

,Datetime,flag_taker,los,Order_Qty,PPU,COS,Sales,Profit,Profit_Margin,Product_Name,Brand_Name,Product_Category,klaster,klaster_II
0,02/10/2021,1,1761,9,"699,000.0","2,305,806.0","6,291,000.0","3,985,195.0",0.633476,6,5,Fastener,0,3
1,01/09/2020,1,2036,5,"169,990.0","284,395.3","849,950.0","565,554.8",0.665398,5,4,Sanitary,0,0
2,05/22/2018,1,810,10,"11,500.0","16,657.91","115,000.0","98,342.09",0.855149,6,5,Fastener,0,0
3,03/19/2021,1,306,20,"248,000.0","4,113,790.0","4,960,000.0","846,209.8",0.170607,6,5,Fastener,0,0
4,08/30/2021,1,2000,10,"219,000.0","522,373.5","2,190,000.0","1,667,627.0",0.761473,3,3,Flooring,0,0

In [52]:
Q1 = df.los.quantile(0.25)
Q3 = df.los.quantile(0.75)
Q1, Q3

(486.5, 1594.25)

In [53]:
IQR = Q3 - Q1
IQR

1107.75

In [54]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

(-1175.125, 3255.875)

In [55]:
df[(df.los<lower_limit)|(df.los>upper_limit)]

,Datetime,flag_taker,los,Order_Qty,PPU,COS,Sales,Profit,Profit_Margin,Product_Name,Brand_Name,Product_Category,klaster,klaster_II
12,03/08/2018,1,3461,8,"44,640.5","260,387.0","357,124.0","96,737.03",0.270878,7,6,Hand Tools,0,0
193,03/05/2018,1,3361,13,"264,907.7","2,253,302.0","3,443,800.0","1,190,498.0",0.345693,12,11,Hand Tools,0,0
215,02/08/2022,1,3402,12,"77,683.34","157,509.6","932,200.0","774,690.4",0.831035,10,9,Fastener,0,0
377,07/09/2021,1,3418,9,"268,000.0","29,499.18","2,412,000.0","2,382,501.0",0.98777,4,1,Builder Hardware,0,0
455,02/09/2021,1,3463,10,"23,000.0","114,176.9","230,000.0","115,823.1",0.503579,15,6,Hand Tools,0,0
560,03/18/2022,1,3406,10,"42,990.0","258,291.1","429,900.0","171,608.9",0.399183,12,11,Hand Tools,0,0
848,02/26/2018,1,3482,10,"26,990.0","39,259.46","269,900.0","230,640.6",0.854541,7,6,Hand Tools,0,0

In [56]:
df = df[(df.los>lower_limit)&(df.los<upper_limit)]
df

,Datetime,flag_taker,los,Order_Qty,PPU,COS,Sales,Profit,Profit_Margin,Product_Name,Brand_Name,Product_Category,klaster,klaster_II
0,02/10/2021,1,1761,9,"699,000.0","2,305,806.0","6,291,000.0","3,985,195.0",0.633476,6,5,Fastener,0,3
1,01/09/2020,1,2036,5,"169,990.0","284,395.3","849,950.0","565,554.8",0.665398,5,4,Sanitary,0,0
2,05/22/2018,1,810,10,"11,500.0","16,657.91","115,000.0","98,342.09",0.855149,6,5,Fastener,0,0
3,03/19/2021,1,306,20,"248,000.0","4,113,790.0","4,960,000.0","846,209.8",0.170607,6,5,Fastener,0,0
4,08/30/2021,1,2000,10,"219,000.0","522,373.5","2,190,000.0","1,667,627.0",0.761473,3,3,Flooring,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1383,07/01/2019,1,2722,9,"288,400.0","1,162,540.0","2,595,600.0","1,433,060.0",0.552111,5,17,Sanitary,0,0
1384,03/17/2018,1,702,20,"132,990.0","1,316,718.0","2,659,800.0","1,343,083.0",0.504956,19,18,Paint & Sundries,0,0
1385,07/03/2021,1,710,9,"195,066.7","891,535.8","1,755,600.0","864,064.2",0.492176,29,1,Fastener,0,0
1386,06/15/2021,1,1241,12,"323,516.7","87,974.3","3,882,200.0","3,794,226.0",0.977339,5,17,Sanitary,0,0
1387,01/23/2020,1,1182,10,"999,000.0","337,481.8","9,990,000.0","9,652,518.0",0.966218,29,1,Fastener,2,3

## Taker vs Non Taker

In [57]:
tnt = pd.read_csv('dataset/takernontaker.csv', delimiter=',')

FileNotFoundError: [Errno 2] No such file or directory: 'dataset/takernontaker.csv'

In [ ]:
tnt['PPU']=tnt['Sales']/(tnt['Order_Qty'])

In [ ]:
tnt['Profit_Margin']=tnt['Profit']/(tnt['Sales'])

In [ ]:
tnt["taker"] = tnt["nontaker"].astype(int)

In [ ]:
tnt["nontaker"] = tnt["flag_taker"].astype(int)

In [ ]:
tnt.head(5)

In [ ]:
fig_taker = px.pie(tnt, values='taker', names='Product_Category', title="Taker by Product Category")
fig_taker.show()

fig_nontaker = px.pie(tnt, values='nontaker', names='Product_Category', title="Non Taker by Product Category")
fig_nontaker.show()

In [ ]:
fig_potaker = px.histogram(tnt, x="Product_Category", y="nontaker",
                           title='Meningkatkan Wishlist  efficiency. Hanya di targetkan untuk potential takers',
                           histfunc='sum',height=400)
fig_potaker.update_layout(barmode='stack', xaxis={'categoryorder':'total descending'})
fig_potaker.show()

In [ ]:
fig_evaluasiprogram = px.histogram(tnt, x="Product_Category", y=["Profit_Margin", "taker", "nontaker"],text_auto='.2s',
                           title='Evaluasi program campaign berdasarkan costumer profile',
                           histfunc='sum',height=400)
fig_evaluasiprogram.update_layout(barmode='stack', xaxis={'categoryorder':'total descending'})
fig_evaluasiprogram.show()

## Forecast Profit Fastener

In [ ]:
df_filtered = df[df['Product_Category'] == 'Fastener']
df_filtered.head()

In [ ]:
df2 = df_filtered.drop(['flag_taker', 'los', 'Order_Qty', 'PPU', 'COS', 'Sales', 'Profit_Margin', 'Product_Name', 'Brand_Name', 'Product_Category', 'klaster', 'klaster_II'], axis=1)
df2.head(5)

In [ ]:
df2 = df2.set_index('Datetime')
df2.index = pd.to_datetime(df2.index)

In [ ]:
df2.plot(style='.',
        figsize=(15, 5),
        color=color_pal[0],
        title='Profit')
plt.show()

## Outlier Analysis and removal

In [ ]:
df2['Profit'].plot(kind='hist', bins=500)

In [ ]:
df2.query('Profit < -2000000')['Profit'] \
    .plot(style='.',
          figsize=(15, 5),
          color=color_pal[5],
          title='Outliers')

In [ ]:
df2.query('Profit > 15000000')['Profit'] \
    .plot(style='.',
          figsize=(15, 5),
          color=color_pal[5],
          title='Outliers')

In [ ]:
df2 = df2.query('Profit > -2000000').copy()
df2 = df2.query('Profit < 15000000').copy()

## Train/Split Test

## Time Series Cross Validation

In [ ]:
from sklearn.model_selection import TimeSeriesSplit

tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df2 = df2.sort_index()

In [ ]:
fig, axs = plt.subplots(5, 1, figsize=(15, 15), sharex=True)

fold = 0
for train_idx, val_idx in tss.split(df2):
    train = df2.iloc[train_idx]
    test = df2.iloc[val_idx]
    train['Profit'].plot(ax=axs[fold],
                          label='Training Set',
                          title=f'Data Train/Test Split Fold {fold}')
    test['Profit'].plot(ax=axs[fold],
                         label='Test Set')
    axs[fold].axvline(test.index.min(), color='black', ls='--')
    fold += 1
plt.show()

## Forecasting Horizon

In [ ]:
def create_features(df2):
    df2 = df2.copy()
    df2['dayofweek'] = df2.index.dayofweek
    df2['quarter'] = df2.index.quarter
    df2['month'] = df2.index.month
    df2['year'] = df2.index.year
    df2['dayofyear'] = df2.index.dayofyear
    df2['dayofmonth'] = df2.index.day
    df2['weekofyear'] = df2.index.isocalendar().week
    return df2

df2 = create_features(df2)

## Lag features

In [ ]:
def add_lags(df2):
    target_map = df2['Profit'].to_dict()
    df2['lag1'] = (df2.index - pd.Timedelta('364 days')).map(target_map)
    df2['lag2'] = (df2.index - pd.Timedelta('728 days')).map(target_map)
    df2['lag3'] = (df2.index - pd.Timedelta('1092 days')).map(target_map)
    return df2

In [ ]:
df2 = add_lags(df2)

## Train Using Cross Validation

In [ ]:
tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df2 = df2.sort_index()


fold = 0
preds = []
scores = []
for train_idx, val_idx in tss.split(df2):
    train = df2.iloc[train_idx]
    test = df2.iloc[val_idx]

    train = create_features(train)
    test = create_features(test)

    FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month','year',
                'lag1','lag2','lag3']
    TARGET = 'Profit'

    X_train = train[FEATURES]
    y_train = train[TARGET]

    X_test = test[FEATURES]
    y_test = test[TARGET]

    reg = xgb.XGBRegressor(base_score=0.5, booster='gbtree',    
                           n_estimators=1000,
                           early_stopping_rounds=50,
                           objective='reg:linear',
                           max_depth=3,
                           learning_rate=0.01)
    reg.fit(X_train, y_train,
            eval_set=[(X_train, y_train), (X_test, y_test)],
            verbose=100)

    y_pred = reg.predict(X_test)
    preds.append(y_pred)
    score = np.sqrt(mean_squared_error(y_test, y_pred))
    scores.append(score)

In [ ]:
print(f'Score across folds {np.mean(scores):0.4f}')
print(f'Fold scores:{scores}')

## Predicting into the future

In [ ]:
df2 = create_features(df2)

FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month', 'year',
            'lag1','lag2','lag3']
TARGET = 'Profit'

X_all = df2[FEATURES]
y_all = df2[TARGET]

reg = xgb.XGBRegressor(base_score=0.5,
                       booster='gbtree',    
                       n_estimators=300,
                       objective='reg:linear',
                       max_depth=3,
                       learning_rate=0.01)
reg.fit(X_all, y_all,
        eval_set=[(X_all, y_all)],
        verbose=100)

In [ ]:
df2.index.max()

In [ ]:
future = pd.date_range('2022-05-01','2023-05-01')
future_df = pd.DataFrame(index=future)
future_df['isFuture'] = True
df2['isFuture'] = False
df2_and_future = pd.concat([df2, future_df])
df2_and_future = create_features(df2_and_future)
df2_and_future = add_lags(df2_and_future)

In [ ]:
future_w_features = df2_and_future.query('isFuture').copy()

In [ ]:
future_w_features['pred'] = reg.predict(future_w_features[FEATURES])

In [ ]:
future_w_features['pred'].plot(figsize=(10, 5),
                               color=color_pal[4],
                               ms=1,
                               lw=1,
                               title='Future Predictions Fastener')
plt.show()

## Forecast Builder Hardware Profit

In [ ]:
df_filtered2 = df[df['Product_Category'] == 'Builder Hardware']
df_filtered2.head()

In [ ]:
df3 = df_filtered2.drop(['flag_taker', 'los', 'Order_Qty', 'PPU', 'COS', 'Sales', 'Profit_Margin', 'Product_Name', 'Brand_Name', 'Product_Category', 'klaster', 'klaster_II'], axis=1)
df3.head(5)

In [ ]:
df3 = df3.set_index('Datetime')
df3.index = pd.to_datetime(df3.index)

In [ ]:
df3.plot(style='.',
        figsize=(15, 5),
        color=color_pal[0],
        title='Profit')
plt.show()

## Outlier Analysis and removal

In [ ]:
df3['Profit'].plot(kind='hist', bins=500)

In [ ]:
df3.query('Profit < -1000000')['Profit'] \
    .plot(style='.',
          figsize=(15, 5),
          color=color_pal[5],
          title='Outliers')

In [ ]:
df3.query('Profit > 14000000')['Profit'] \
    .plot(style='.',
          figsize=(15, 5),
          color=color_pal[5],
          title='Outliers')

In [ ]:
df3 = df3.query('Profit > -1000000').copy()
df3 = df3.query('Profit < 14000000').copy()

## Train/Split Test

## Time Series Cross Validation

In [ ]:
from sklearn.model_selection import TimeSeriesSplit

tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df3 = df3.sort_index()

In [ ]:
fig, axs = plt.subplots(5, 1, figsize=(15, 15), sharex=True)

fold = 0
for train_idx, val_idx in tss.split(df3):
    train = df3.iloc[train_idx]
    test = df3.iloc[val_idx]
    train['Profit'].plot(ax=axs[fold],
                          label='Training Set',
                          title=f'Data Train/Test Split Fold {fold}')
    test['Profit'].plot(ax=axs[fold],
                         label='Test Set')
    axs[fold].axvline(test.index.min(), color='black', ls='--')
    fold += 1
plt.show()

## Forecasting Horizon

In [ ]:
def create_features(df3):
    df3 = df3.copy()
    df3['dayofweek'] = df3.index.dayofweek
    df3['quarter'] = df3.index.quarter
    df3['month'] = df3.index.month
    df3['year'] = df3.index.year
    df3['dayofyear'] = df3.index.dayofyear
    df3['dayofmonth'] = df3.index.day
    df3['weekofyear'] = df3.index.isocalendar().week
    return df3

df3 = create_features(df3)

## Lag features

In [ ]:
def add_lags(df3):
    target_map = df3['Profit'].to_dict()
    df3['lag1'] = (df3.index - pd.Timedelta('364 days')).map(target_map)
    df3['lag2'] = (df3.index - pd.Timedelta('728 days')).map(target_map)
    df3['lag3'] = (df3.index - pd.Timedelta('1092 days')).map(target_map)
    return df3

In [ ]:
df3 = add_lags(df3)

## Train Using Cross Validation

In [ ]:
tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df3 = df3.sort_index()


fold = 0
preds = []
scores = []
for train_idx, val_idx in tss.split(df3):
    train = df3.iloc[train_idx]
    test = df3.iloc[val_idx]

    train = create_features(train)
    test = create_features(test)

    FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month','year',
                'lag1','lag2','lag3']
    TARGET = 'Profit'

    X_train = train[FEATURES]
    y_train = train[TARGET]

    X_test = test[FEATURES]
    y_test = test[TARGET]

    reg = xgb.XGBRegressor(base_score=0.5, booster='gbtree',    
                           n_estimators=1000,
                           early_stopping_rounds=50,
                           objective='reg:linear',
                           max_depth=3,
                           learning_rate=0.01)
    reg.fit(X_train, y_train,
            eval_set=[(X_train, y_train), (X_test, y_test)],
            verbose=100)

    y_pred = reg.predict(X_test)
    preds.append(y_pred)
    score = np.sqrt(mean_squared_error(y_test, y_pred))
    scores.append(score)

In [ ]:
print(f'Score across folds {np.mean(scores):0.4f}')
print(f'Fold scores:{scores}')

## Predicting into the future

In [ ]:
df3 = create_features(df3)

FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month', 'year',
            'lag1','lag2','lag3']
TARGET = 'Profit'

X_all = df3[FEATURES]
y_all = df3[TARGET]

reg = xgb.XGBRegressor(base_score=0.5,
                       booster='gbtree',    
                       n_estimators=300,
                       objective='reg:linear',
                       max_depth=3,
                       learning_rate=0.01)
reg.fit(X_all, y_all,
        eval_set=[(X_all, y_all)],
        verbose=100)

In [ ]:
df3.index.max()

In [ ]:
future = pd.date_range('2022-04-27','2023-04-27')
future_df = pd.DataFrame(index=future)
future_df['isFuture'] = True
df3['isFuture'] = False
df3_and_future = pd.concat([df3, future_df])
df3_and_future = create_features(df3_and_future)
df3_and_future = add_lags(df3_and_future)

In [ ]:
future_w_features2 = df3_and_future.query('isFuture').copy()

In [ ]:
future_w_features2['pred'] = reg.predict(future_w_features2[FEATURES])

In [ ]:
future_w_features2['pred'].plot(figsize=(15, 5),
                               color=color_pal[4],
                               ms=1,
                               lw=1,
                               title='Future Predictions Builder Hardware')
plt.show()

## Forecast Profit Hand Tools

In [ ]:
df_filtered3 = df[df['Product_Category'] == 'Hand Tools']
df_filtered3.head()

In [ ]:
df4 = df_filtered2.drop(['flag_taker', 'los', 'Order_Qty', 'PPU', 'COS', 'Sales', 'Profit_Margin', 'Product_Name', 'Brand_Name', 'Product_Category', 'klaster', 'klaster_II'], axis=1)
df4.head(5)

In [ ]:
df4 = df4.set_index('Datetime')
df4.index = pd.to_datetime(df4.index)

In [ ]:
df4.plot(style='.',
        figsize=(15, 5),
        color=color_pal[0],
        title='Profit')
plt.show()

## Outlier Analysis and removal

In [ ]:
df4['Profit'].plot(kind='hist', bins=500)

In [ ]:
df4.query('Profit < -400000')['Profit'] \
    .plot(style='.',
          figsize=(15, 5),
          color=color_pal[5],
          title='Outliers')

In [ ]:
df4.query('Profit > 11000000')['Profit'] \
    .plot(style='.',
          figsize=(15, 5),
          color=color_pal[5],
          title='Outliers')

In [ ]:
df4 = df4.query('Profit > -400000').copy()
df4 = df4.query('Profit < 11000000').copy()

## Train/Split Test

## Time Series Cross Validation

In [ ]:
from sklearn.model_selection import TimeSeriesSplit

tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df4 = df4.sort_index()

In [ ]:
fig, axs = plt.subplots(5, 1, figsize=(15, 15), sharex=True)

fold = 0
for train_idx, val_idx in tss.split(df4):
    train = df4.iloc[train_idx]
    test = df4.iloc[val_idx]
    train['Profit'].plot(ax=axs[fold],
                          label='Training Set',
                          title=f'Data Train/Test Split Fold {fold}')
    test['Profit'].plot(ax=axs[fold],
                         label='Test Set')
    axs[fold].axvline(test.index.min(), color='black', ls='--')
    fold += 1
plt.show()

## Forecasting Horizon

In [ ]:
def create_features(df4):
    df4 = df4.copy()
    df4['dayofweek'] = df4.index.dayofweek
    df4['quarter'] = df4.index.quarter
    df4['month'] = df4.index.month
    df4['year'] = df4.index.year
    df4['dayofyear'] = df4.index.dayofyear
    df4['dayofmonth'] = df4.index.day
    df4['weekofyear'] = df4.index.isocalendar().week
    return df4

df4 = create_features(df4)

## Lag features

In [ ]:
def add_lags(df4):
    target_map = df4['Profit'].to_dict()
    df4['lag1'] = (df4.index - pd.Timedelta('364 days')).map(target_map)
    df4['lag2'] = (df4.index - pd.Timedelta('728 days')).map(target_map)
    df4['lag3'] = (df4.index - pd.Timedelta('1092 days')).map(target_map)
    return df4

In [ ]:
df4 = add_lags(df4)

## Train Using Cross Validation

In [ ]:
tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df4 = df4.sort_index()


fold = 0
preds = []
scores = []
for train_idx, val_idx in tss.split(df4):
    train = df4.iloc[train_idx]
    test = df4.iloc[val_idx]

    train = create_features(train)
    test = create_features(test)

    FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month','year',
                'lag1','lag2','lag3']
    TARGET = 'Profit'

    X_train = train[FEATURES]
    y_train = train[TARGET]

    X_test = test[FEATURES]
    y_test = test[TARGET]

    reg = xgb.XGBRegressor(base_score=0.5, booster='gbtree',    
                           n_estimators=1000,
                           early_stopping_rounds=50,
                           objective='reg:linear',
                           max_depth=3,
                           learning_rate=0.01)
    reg.fit(X_train, y_train,
            eval_set=[(X_train, y_train), (X_test, y_test)],
            verbose=100)

    y_pred = reg.predict(X_test)
    preds.append(y_pred)
    score = np.sqrt(mean_squared_error(y_test, y_pred))
    scores.append(score)

In [ ]:
print(f'Score across folds {np.mean(scores):0.4f}')
print(f'Fold scores:{scores}')

## Predicting into the future

In [ ]:
df4 = create_features(df4)

FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month', 'year',
            'lag1','lag2','lag3']
TARGET = 'Profit'

X_all = df4[FEATURES]
y_all = df4[TARGET]

reg = xgb.XGBRegressor(base_score=0.5,
                       booster='gbtree',    
                       n_estimators=300,
                       objective='reg:linear',
                       max_depth=3,
                       learning_rate=0.01)
reg.fit(X_all, y_all,
        eval_set=[(X_all, y_all)],
        verbose=100)

In [ ]:
df4.index.max()

In [ ]:
future = pd.date_range('2022-05-01','2023-05-01')
future_df = pd.DataFrame(index=future)
future_df['isFuture'] = True
df4['isFuture'] = False
df4_and_future = pd.concat([df4, future_df])
df4_and_future = create_features(df4_and_future)
df4_and_future = add_lags(df4_and_future)

In [ ]:
future_w_features3 = df4_and_future.query('isFuture').copy()

In [ ]:
future_w_features3['pred'] = reg.predict(future_w_features3[FEATURES])

In [ ]:
future_w_features3['pred'].plot(figsize=(10, 5),
                               color=color_pal[4],
                               ms=1,
                               lw=1,
                               title='Future Predictions Hand Tools')
plt.show()

### Import data Tokopedia

In [ ]:
df5 = pd.read_csv('Tokopedia_forecast.csv', delimiter=',')

In [ ]:
df5['Profit'] = df5.Price * df5.Sold
df5.head(5)

In [ ]:
Q1 = df5.Sold.quantile(0.25)
Q3 = df5.Sold.quantile(0.75)
Q1, Q3

In [ ]:
IQR = Q3 - Q1
IQR

In [ ]:
lower_limit = Q1 - 1.5*IQR
upper_limit = Q3 + 1.5*IQR
lower_limit, upper_limit

In [ ]:
df5[(df5.Sold<lower_limit)|(df5.Sold>upper_limit)]

In [ ]:
df5 = df5[(df5.Sold>lower_limit)&(df5.Sold<upper_limit)]
df5

## Forecast Profit Fastener

In [ ]:
df5_filtered = df5[df5['Profit'] != 0]
df5_filtered = df5[df5['Category'] == 'Fastener']
df5_filtered.head()

In [ ]:
df6 = df5_filtered.drop(['Price', 'Category', 'Reviews', 'Sold', 'Views', 'Location'], axis=1)
df6.head(5)

In [ ]:
df6 = df6.set_index('Datetime')
df6.index = pd.to_datetime(df6.index)

In [ ]:
df6.plot(style='.',
        figsize=(15, 5),
        color=color_pal[0],
        title='Profit')
plt.show()

## Outlier Analysis and removal

In [ ]:
df6['Profit'].plot(kind='hist', bins=500)

In [ ]:
df6.query('Profit > 7000000')['Profit'] \
    .plot(style='.',
          figsize=(15, 5),
          color=color_pal[5],
          title='Outliers')

In [ ]:
df6 = df6.query('Profit < 7000000').copy()

## Train/Split Test

## Time Series Cross Validation

In [ ]:
from sklearn.model_selection import TimeSeriesSplit

tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df6 = df6.sort_index()

In [ ]:
fig, axs = plt.subplots(5, 1, figsize=(15, 15), sharex=True)

fold = 0
for train_idx, val_idx in tss.split(df6):
    train = df6.iloc[train_idx]
    test = df6.iloc[val_idx]
    train['Profit'].plot(ax=axs[fold],
                          label='Training Set',
                          title=f'Data Train/Test Split Fold {fold}')
    test['Profit'].plot(ax=axs[fold],
                         label='Test Set')
    axs[fold].axvline(test.index.min(), color='black', ls='--')
    fold += 1
plt.show()

## Forecasting Horizon

In [ ]:
def create_features(df6):
    df6 = df6.copy()
    df6['dayofweek'] = df6.index.dayofweek
    df6['quarter'] = df6.index.quarter
    df6['month'] = df6.index.month
    df6['year'] = df6.index.year
    df6['dayofyear'] = df6.index.dayofyear
    df6['dayofmonth'] = df6.index.day
    df6['weekofyear'] = df6.index.isocalendar().week
    return df6

df6 = create_features(df6)

## Lag features

In [ ]:
def add_lags(df6):
    target_map = df6['Profit'].to_dict()
    df6['lag1'] = (df6.index - pd.Timedelta('364 days')).map(target_map)
    df6['lag2'] = (df6.index - pd.Timedelta('728 days')).map(target_map)
    df6['lag3'] = (df6.index - pd.Timedelta('1092 days')).map(target_map)
    return df6

In [ ]:
df6 = add_lags(df6)

## Train Using Cross Validation

In [ ]:
tss = TimeSeriesSplit(n_splits=5, test_size=30, gap=0)
df6 = df6.sort_index()


fold = 0
preds = []
scores = []
for train_idx, val_idx in tss.split(df6):
    train = df6.iloc[train_idx]
    test = df6.iloc[val_idx]

    train = create_features(train)
    test = create_features(test)

    FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month','year',
                'lag1','lag2','lag3']
    TARGET = 'Profit'

    X_train = train[FEATURES]
    y_train = train[TARGET]

    X_test = test[FEATURES]
    y_test = test[TARGET]

    reg = xgb.XGBRegressor(base_score=0.5, booster='gbtree',    
                           n_estimators=1000,
                           early_stopping_rounds=50,
                           objective='reg:linear',
                           max_depth=3,
                           learning_rate=0.01)
    reg.fit(X_train, y_train,
            eval_set=[(X_train, y_train), (X_test, y_test)],
            verbose=100)

    y_pred = reg.predict(X_test)
    preds.append(y_pred)
    score = np.sqrt(mean_squared_error(y_test, y_pred))
    scores.append(score)

In [ ]:
print(f'Score across folds {np.mean(scores):0.4f}')
print(f'Fold scores:{scores}')

## Predicting into the future

In [ ]:
df6 = create_features(df6)

FEATURES = ['dayofyear', 'dayofweek', 'quarter', 'month', 'year',
            'lag1','lag2','lag3']
TARGET = 'Profit'

X_all = df6[FEATURES]
y_all = df6[TARGET]

reg = xgb.XGBRegressor(base_score=0.5,
                       booster='gbtree',    
                       n_estimators=300,
                       objective='reg:linear',
                       max_depth=3,
                       learning_rate=0.01)
reg.fit(X_all, y_all,
        eval_set=[(X_all, y_all)],
        verbose=100)

In [ ]:
df6.index.max()

In [ ]:
future = pd.date_range('2022-05-01','2023-05-01')
future_df = pd.DataFrame(index=future)
future_df['isFuture'] = True
df6['isFuture'] = False
df6_and_future = pd.concat([df6, future_df])
df6_and_future = create_features(df6_and_future)
df6_and_future = add_lags(df6_and_future)

In [ ]:
future_w_features4 = df6_and_future.query('isFuture').copy()

In [ ]:
future_w_features4['pred'] = reg.predict(future_w_features4[FEATURES])

In [ ]:
future_w_features4['pred'].plot(figsize=(10, 5),
                               color=color_pal[4],
                               ms=1,
                               lw=1,
                               title='Future Predictions Fastener Tokopedia')
plt.show()